/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


.insert-wrapper{
    display: flex;
    width: 900px;
}

.insert-info{
    display: flex;
    flex-wrap: wrap;
} */

body {
  width: 700px;
}

.body-wrapper {
  justify-content: center;
  text-align: center;
}

.title {
  text-decoration: underline;
}

.insert-wrapper,
.regis-wrapper,
.get-sellers-wrapper {
  /* border: 2px solid black; */
  margin: 20px 2px 2px 2px;
}

.insert-info,
.regis-info,
.display-sellers {
  flex-wrap: wrap;
  padding: 50px;
}

#custom-button {
  padding: 10px;
  color: white;
  background-color: #009578;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
}

#custom-button:hover {
  background-color: blue;
}

/* #custom-button:hover {
  background-color: #blue;
} */

#custom-text {
  margin-left: 10px;
  font-family: sans-serif;
  color: #aaa;
}

.under-line {
  text-decoration: underline;
}